name: Business Logic Validation

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  blv-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python Dependencies
        run: |
          pip install requests

      - name: Start OWASP Juice Shop
        run: |
          docker run -d -p 3000:3000 bkimminich/juice-shop
          sleep 20

      - name: Run Business Logic Rule Validator
        run: |
          python blv_rule_validator.py http://localhost:3000
