name: Business Logic Validation Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  blv-validation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install flask requests

      - name: Start Demo E-Commerce App
        run: |
          nohup python app.py &
          sleep 5

      - name: Run Business Logic Validator
        run: |
          python blv_rule_validator.py http://127.0.0.1:5000
